.root {
	-fx-background-image:url("background2.png");
}

.titled-pane > .title {
    -fx-pref-height: 50.0;
}

.titled-pane > *.title {	
	-fx-alignment:baseline-left;
}

#titledpanemask > *.title {
	-fx-background-color:blue;
}