.root {
	-fx-background-image:url("background2.png");
}

.titled-pane > *.title {	
    -fx-pref-height: 40.0;
	-fx-alignment:baseline-left;
	-fx-font-weight:bold;
}

.namedItem {
	-fx-text-fill:yellow;
}

.weapon > *.title {
	-fx-background-color:#9c9292;
}

.coreAttributeRed > *.title {
	-fx-background-color:#dd5a57;	
}

.coreAttributeBlue > *.title {
	-fx-background-color:#67a1d7;
}

.coreAttributeYellow > *.title {
	-fx-background-color:#f4b863;
}

.coreAttributeExotic > *.title {
	-fx-background-color:#e69c21;
}


.tree-table-view .column-header {
	-fx-size:40;
}